.column-flex {
    display: flex;
    flex-wrap: wrap;
}
.our-expertise{
    min-height: 275px;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.icon--left {
    width: 80px;
    flex: 0 0 80px;
}
.icon-expert {
    position: relative;
    width: 80px;
    height: 80px;
}
.expert-hover {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.our-expertise:hover .expert-hover{
  display: block;
}
.our-expertise:hover .serv-title, .our-expertise:hover p{
  color: #fff;
}
.right-inform {
    flex: 1;
    margin-left: 15px;
}
.right-inform p{
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.read-m{
    text-align: center;
}