.whyc-section{
    padding: 30px 0px;
}
.fullwhy--bx{
    position: relative;
}
.fullwhy--bx::before {
    display: block;
    background-image: "url(../images/map.png) no-repeat";
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    width: 100%;
    background-position: right center;

}
.sliderwhy{
    padding-bottom: 40px;
}
.sliderwhy .slider-indicate{
    bottom: 0px;
}
.why-img {
    position: relative;
    overflow: hidden;
    border-radius: 0px 30px 30px 0px;
    background-color: #fef8f8;
    max-height: 500px;
}
.why-img-overlap::before {
    content: "";
    background-color: rgba(34, 25, 25, 0.9);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 0;
}
.why--us {
    position: absolute;
    top: 0;
    margin-left: 50px;
    margin-top: 30px;
}
.why-img .object-fit-cover-1, .why-img .object-fit-cover-2, .why-img .object-fit-cover-3{
    object-fit: contain;
    object-position: top;
    width: 100%;
    height: 500px;
}
.why-img .object-fit-cover-1 {
    object-fit: cover;
}
.why-title span,  .why-title strong{
    display: block;
}
.why-title span {
    letter-spacing: 15px;
    font-size: 24px;
}
.why-title strong{
 	font-size: 80px;
}
.read-why img {
    width: 100px;
}
.title--why {
    font-size: 32px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 20px;
}
.right--bar-why {
    padding-left: 30px;
    padding-right: 100px;
}
.right--bar-why p {
    color: #fff;
    font-size: 19px;
}
.img-ch img {
    max-width: 300px;
}
.align-box-center{
    align-items: center;
}